<div class="container-fluid" style="padding-top: 10px;">

	<div class="row">

		<div class="col-sm-4 col-md-4 col-lg-4">
			
						<div class="panel panel-default cardHover" tbname="rounds">
							<div class="panel-heading" style="color: white; background: #E37222; text-align: center">
								<span class="glyphicon glyphicon-th" aria-hidden="true" style="position: absolute; top: 1em; left: 1.5em;"></span>
								Rounds Executed 
								<span class="glyphicon glyphicon-new-window" aria-hidden="true" style="position: absolute; top: 1em; right: 1.5em;"></span>
							</div>
							<div class="panel-body">
								<div id="roundsCard" class="cardNumber" style="color:#E37222">0</div>
							</div>
							<!--<div class="panel-footer cardFooter">Notifications Created</div> -->
						</div>
				
	   </div>


		<div class="col-sm-4 col-md-4 col-lg-4">

	
						<div class="panel panel-default cardHover" tbname="watchflag" >
							<div class="panel-heading" style="color: white; background: #9A3B26; text-align: center">
								  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="position: absolute; top: 1em; left: 1.5em;"></span> 
								 Active Watch Flags
								<span class="glyphicon glyphicon-new-window" aria-hidden="true" style="position: absolute; top: 1em; right: 1.5em;"></span>
							</div>
							<div class="panel-body">
								<div id="watchflagsCard" class="cardNumber" style="color:#9A3B26">0</div>
								<!-- <div style="position: absolute;bottom: 1em;text-align: center">*currently active watch flags</div> -->
							</div>
							<!--  <div class="panel-footer cardFooter">*currently active watch flags</div> --> 
						</div>
					

		</div>


		
	   
	   <div class="col-sm-4 col-md-4 col-lg-4">

			<div class="panel panel-default cardHover" tbname="notification" >
					<div class="panel-heading" style="color: white; background: #73AF55; text-align: center; ">
						  <span class="glyphicon glyphicon-file" aria-hidden="true" style="position: absolute; top: 1em; left: 1.5em;font-style:bold;"></span> 
							Notifications Created 
						<span class="glyphicon glyphicon-new-window" aria-hidden="true" style="position: absolute; top: 1em; right: 1.5em;"></span>
					</div>
					<div class="panel-body">
						<div id="notificationsCard" class="cardNumber" style="color:#73AF55">0</div>
					</div>
							
			</div>
						
		</div>
	   
	   
	</div>

	
	<div class="row">

		<div class="col-sm-6 col-md-6 col-lg-6">

			<div class="panel panel-default " tbname="rounds">
				<div class="panel-heading" style="color: white; background: #0083CC;">
					<h3 class="panel-title">Rounds Completed Over Time</h3>
					<!--  <span class="glyphicon glyphicon-new-window" aria-hidden="true" style="position: absolute; top: 1em; right: 1.5em;"></span> -->
				</div>
				<div class="panel-body">
					<!-- <div id="chart1"></div> -->
					<div class="table-wrap" style='width:100%;overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling: touch;'> 
						<div id="roundTable1"></div>
					</div>
				</div>
				<!-- <div class="panel-footer ">Footer</div> -->
			</div>

		</div>

		<div class="col-sm-6 col-md-6 col-lg-6">

			<div class="panel panel-default" tbname="rounds">
				<div class="panel-heading "
					style="color: white; background: #0083CC;">
					<h3 class="ptClass panel-title">Points Read & Unread</h3>
					<!--  <span class="glyphicon glyphicon-new-window" aria-hidden="true" style="position: absolute; top: 1em; right: 1.5em;"></span> -->
				</div>
				<div class="panel-body">
					<div id="chart2"></div>
				</div>
				
			</div>

		</div>
		


    </div>
    
    
	
</div>